<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boardserver.mapper.UserProfileMapper">

  <select id="getUserProfile" resultType="com.example.boardserver.dto.UserDto">
    SELECT userId, userId, password, nickName, createTime, isWithDraw, status
    FROM user
    WHERE userId = #{id}
  </select>

  <insert id="insertUserProfile" parameterType="com.example.boardserver.dto.UserDto">
    INSERT INTO user (userId, passWord, nickName, isWithDraw, status, isAdmin)
    VALUES (#{userId}, #{password}, #{nickName}, #{isWithDraw}, #{status}, #{isAdmin})
  </insert>

  <update id="updateUserProfile" parameterType="com.example.boardserver.dto.UserDto">
    UPDATE user
    SET password=#{password},
        nickName=#{nickName},
        isWithDraw=#{isWithDraw},
        status=#{status}
    WHERE id = #{id}
  </update>

  <delete id="deleteUserProfile">
    DELETE
    FROM user
    WHERE userId = #{id}
  </delete>

  <insert id="register" parameterType="com.example.boardserver.dto.UserDto">
    INSERT INTO user (userId, passWord, nickName, createTime, isWithDraw, status, isAdmin)
    VALUES (#{userId}, #{password}, #{nickName}, #{createTime}, #{isWithDraw}, #{status}, #{isAdmin})
  </insert>

  <select id="findByIdAndPassword" resultType="com.example.boardserver.dto.UserDto">
    SELECT id,
           userId,
           passWord,
           nickName,
           isAdmin,
           createTime,
           isWithDraw,
           status
    FROM user
    WHERE userId = #{id}
      AND passWord = #{password}
      AND status != 'DELETE'
  </select>

  <select id="idCheck" resultType="int">
    SELECT COUNT(id)
    FROM user
    WHERE userId = #{userId}
  </select>

  <update id="updatePassword" parameterType="com.example.boardserver.dto.UserDto">
    UPDATE user
    SET passWord = #{password}
    WHERE userId = #{userId}
  </update>

</mapper>